.wrapper {
  display: flex;
  flex-direction: column;
  gap: 28px;
  padding: 16x;
}

.field {
  display: flex;
  flex-direction: column;
  gap: 8px;

  label {
    padding-left: 8px;
    color: rgba(79, 79, 79, 1);
    font-size: 14px;
  }

  input {
    border: 1px solid rgba(224, 224, 224, 1);
    border-radius: 10px;
    padding-left: 16px;
    color: rgba(79, 79, 79, 1);
    height: 50px;
  }
}

.wrapper-field {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}
