<div class="wrapper" [formGroup]="form">
  <div class="field">
    <label for="name">Tên:</label>
    <input type="text" id="name" formControlName="name" />
  </div>
  <div class="field">
    <label for="description">Mô tả:</label>
    <input type="text" id="description" formControlName="description" />
  </div>
  <div class="wrapper-field">
    <div class="field" style="flex: 2">
      <label for="color">Màu:</label>
      <input type="text" id="color" formControlName="color" />
    </div>
    <div class="field" style="flex: 1">
      <label for="quantity">Số lượng:</label>
      <input type="number" id="quantity" formControlName="quantity" />
    </div>
  </div>
  <div class="field">
    <label for="price">Giá:</label>
    <div class="p-inputgroup">
      <input
        type="number"
        id="price"
        formControlName="price"
        onkeypress="return event.charCode >= 48 && event.charCode <= 57" />
      <span class="p-inputgroup-addon">VNĐ</span>
    </div>
  </div>
  <div class="field">
    <label for="size">Size:</label>
    <!-- <input type="text" id="size" /> -->
    <p-multiSelect
      [options]="sizes"
      formControlName="size"
      optionLabel="name"
      optionValue="value"
      display="chip"
      [style]="{ height: '50px', width: '100%' }"></p-multiSelect>
  </div>
  <div class="field">
    <label for="status">Trạng thái</label>
    <p-dropdown
      inputId="status"
      class="dropdown"
      [options]="statusOptions"
      optionLabel="label"
      optionValue="value"
      formControlName="status"
      [style]="{ height: '50px', width: '100%' }"></p-dropdown>
  </div>
  <div class="field">
    <label for="avatar">Ảnh bìa:</label>
    <!-- <input type="text" id="banner" formControlName="banner" /> -->
    <div *ngIf="!form.value['link_avt']" class="upload-area">
      <div (click)="controlFile.click()">
        <span class="cursor-pointer">Thêm ảnh</span>
        <input
          type="file"
          #controlFile
          style="display: none"
          (change)="onChooseFile($event, true)" />
      </div>
    </div>
    <div *ngIf="form.value['link_avt']" class="file-item">
      <img [src]="form.value['link_avt']" [alt]="link_avt" class="image" />
      <div class="file-item-name mr-2">
        {{ link_avt || 'Ảnh bìa' }}
      </div>
      <a
        class="file-item-action"
        [attr.href]="form.value['link_avt']"
        target="_blank">
        <img src="../../../../assets/images/eye.svg" alt="eye" />
      </a>
      <span class="file-item-action" (click)="onRemoveFile('link_avt')">
        <img src="../../../../assets/images/close.svg" alt="close" />
      </span>
    </div>
    <!-- <div class="file-list" *ngFor="let filePath of filePaths"> -->
    <!-- </div> -->
  </div>
  <div class="field">
    <label for="image">Ảnh mô tả:</label>
    <div class="upload-area" *ngIf="isShowAddImage">
      <div (click)="controlFile.click()">
        <span class="cursor-pointer">Thêm ảnh</span>
        <input
          type="file"
          #controlFile
          style="display: none"
          (change)="onChooseFile($event, false)" />
      </div>
    </div>
    <div class="file-list">
      <ng-container *ngFor="let key of nameImagesKey; index as index">
        <div *ngIf="form.value[key]" class="file-item">
          <img [src]="form.value[key]" [alt]="nameImages[key]" class="image" />
          <div class="file-item-name mr-2">
            <span *ngIf="nameImages[key]">{{ nameImages[key] }}</span>
            <span *ngIf="!nameImages[key]">Ảnh mô tả {{ index + 1 }}</span>
          </div>
          <a
            class="file-item-action"
            [attr.href]="form.value[key]"
            target="_blank">
            <img src="../../../../assets/images/eye.svg" alt="eye" />
          </a>
          <span class="file-item-action" (click)="onRemoveFile(key)">
            <img src="../../../../assets/images/close.svg" alt="close" />
          </span>
        </div>
      </ng-container>
    </div>
    <!-- <input type="text" id="picture" formControlName="pictures" /> -->
    <!-- <input type="text" id="image" /> -->
  </div>
</div>
