<div class="wrapper">
  <div class="banner">
    <img src="../../../assets/images/banner.svg" alt="banner" />
    <div>
      <div>Good morning, <span>Nhan Hai</span></div>
      <span class="time">{{ currentTime | async | date : 'mediumTime' }}</span>
      <span class="date">{{ currentTime | async | date : 'longDate' }}</span>
    </div>
  </div>

  <div class="total-revenue">
    <p-calendar
      selectionMode="range"
      [readonlyInput]="true"
      class="range-calendar"
      appendTo="body"
      placeholder="dd/mm/yyyy - dd/mm/yyyy"
      [style]="{ width: '250px' }"></p-calendar>
    <span>10,570,000 VNĐ</span>
  </div>

  <div
    style="display: flex; justify-content: space-between; gap: 15px; flex: 1">
    <img
      src="../../../assets/images/revenue-by-month.svg"
      alt="revenue-by-month"
      style="flex: 1" />
    <img
      src="../../../assets/images/revenue-by-year.svg"
      alt="revenue-by-year"
      style="flex: 1" />
  </div>
</div>
